<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      <h2>{{ message }}</h2>
      <!-- <span v-if="seen">Now you see me</span>
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
      <p>{{ message }}</p> -->
      <button v-on:click="reverseMessage">Reverse Message</button>
      <br>
      <br>
      <input v-model="message" type="text">
      <br>
      <br>
      <!-- `greet` is the name of a method defined below -->
      <button v-on:click="greet">Greet</button>
    </div>
  </body>
</html>